


@model IEnumerable<WebStore_1.Models.Update>



@if (Model.Count() != 0)
{
    <a align="center" style="font-size: 30px;color:black;">Обновления:</a>

    foreach (WebStore_1.Models.Update item in Model)
    {

    <div id="upd" style="margin-top:45px">
        <div class="dv">
            <p>Имя Обновления : @item.Name</p>
            <p>Имя Версия : @item.Name</p>
            <div class="opisanie">
                <p>Описание : @item.Description</p>
            </div>
            <div class="batt">
                <a href='/room/DowloadUpd/@item.Id' style="font-family: 'Lobster', cursive;padding: 10px;border:1px solid #77be00;background: #77be00;border-radius: 20px;color: black;margin-right: 10px;text-decoration: none;">Скачать</a>
            </div>
            <section id="odin">
                <div id='updates:@item.Id'>

                </div>
            </section>
        </div>
    </div>

}
}
else
{
    <script type="text/javascript">$("#errors").show(); $("#errors").append("<li><strong>Предупреждение!</strong> Обновления Отсутствуют<a href='#' class='close' data-dismiss='alert'>×</a> </li>");</script>
}
